header {
  background-color: var(--bg-color-card);
  padding: var(--spacing-sm) 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo-container a {
  display: flex;
  align-items: start;
}

.logo-container img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.navigation {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

ul {
  display: flex;
  gap: var(--spacing-lg);
  flex-wrap: wrap;
  padding: 0 var(--spacing-sm);
}

.button-container {
  display: flex;
  gap: 10px;
}

.btn-equipment {
  background-color: var(--primary-color-alt);
}


.btn-profile {
  background-color: var(--primary-color);
}


.btn-logout {
  background-color: var(--error-color);
}

.btn-donations {
  background-color: var(--yellow);
}

.btn-icon {
  color: var(--white);
  font-size: 1.2rem;
  padding: 0.75rem;
  min-width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-2px);
}

.btn-icon:hover:not(:disabled) {
  transform: translateY(-2px);
  opacity: 80%;
}

@media (max-width: 900px) {
  header {
    padding: var(--spacing-md);
  }

  .navigation {
    gap: var(--spacing-sm);
    font-size: var(--link-secondary-size);
  }
  ul {
    gap: var(--spacing-md);
  }
}
