<section class="solutions-section">
  <div class="container">
    <div class="solutions-header">
      <span class="solutions-tagline">DOAÇÃO E REUTILIZAÇÃO DE EQUIPAMENTOS</span>
      <h1 class="solutions-title">Conectando doadores a quem precisa</h1>
      <p class="header">
        Transforme vidas através da doação de tecnologia
      </p>
    </div>
    <div class="solutions-content">
      <div class="solutions-side">
        <img
          class="solutions-image"
          src="/assets/bg-home.webp"
          alt="Notebook e outros dispositivos eletrônicos retirados da caixa"
        />
        <h1 class="solutions-title">Doação de equipamentos</h1>
        <p>
          DOE equipamentos eletrônicos e contribua com a inclusão digital.
        </p>
        <div>
          <button routerLink="/make-donation" class="btn btn-secondary">FAÇA UMA DOAÇÃO</button>
        </div>
      </div>
      <div class="solutions-side">
        <img
          class="solutions-image"
          src="/assets/bg-home.webp"
          alt="Notebook e outros dispositivos eletrônicos retirados da caixa"
        />
        <h1 class="solutions-title">Reutilização de equipamentos</h1>
        <p>
          RECEBA uma doação de equipamentos eletrônicos, para reutilização, e apoie a economia circular.
        </p>
        <div>
          <button routerLink="/receive-donation" class="btn btn-secondary">RECEBA UMA DOAÇÃO</button>
        </div>
      </div>
    </div>
    
  </div>
</section>
