.landing-container {
  background-image: url("/assets/bg-home.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(0.02) saturate(0.7);
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 0 5px black;
  color: var(--white);
}
