<footer>
  <div class="container">
    <div class="footer-grid">
      <div class="footer-col">
        <span class="footer-title">DOE TECH</span>
        <p class="footer-copyright">
          Copyright © 2025 Doe Tech.<br>
          Todos os direitos reservados.
        </p>
      </div>
      <div class="footer-col footer-menu">
        <span class="footer-heading">Menu</span>
        <ul>
          <li><a routerLink="/">Início</a></li>
          <li><a routerLink="/about">Sobre A Doe Tech</a></li>
          <li><a routerLink="/solutions">Serviços Disponíveis</a></li>
          <li><a routerLink="/how-it-works">Como Funciona</a></li>
        </ul>
      </div>
      <div class="footer-col footer-contact">
        <span class="footer-heading">Contatos</span>
        <address>
          Belo Horizonte - MG<br>
          <a href="tel:31234567890">31 23456-7890</a><br>
          <a href="mailto:doetech&#64;doetech.com">doetech&#64;doetech.com</a>
        </address>
        <div class="footer-social">
          <a href="#" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" aria-label="X"><i class="fa fa-x-twitter"></i></a>
          <a href="#" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
          <a href="#" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
