footer {
  background: var(--bg-color-card);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--body-p-size);
  padding: var(--spacing-lg) 0;
  background-color: var(--bg-color);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.2fr;
  gap: var(--spacing-xl);
  max-width: var(--container-max-width);
  margin: 0 auto;
  align-items: flex-start;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.footer-title {
  font-size: var(--nav-n1-size);
  font-weight: var(--nav-n1-weight);
  color: var(--text-color);
  letter-spacing: 1px;
}

.footer-copyright {
  color: var(--text-color-light);
  font-size: var(--body-p-small-size);
}

.footer-heading {
  font-size: var(--body-h4-size);
  font-weight: var(--body-h4-weight);
  margin-bottom: var(--spacing-sm);
  color: var(--text-color);
}

.footer-contact address {
  font-style: normal;
  color: var(--text-color-light);
  font-size: var(--body-p-small-size);
  margin-bottom: var(--spacing-xs);
}

.footer-contact a {
  color: var(--text-color-light);
  text-decoration: underline;
  font-size: var(--body-p-small-size);
  word-break: break-all;
}
.footer-contact a:hover {
  color: var(--text-color-highlight);
  text-decoration: underline;
}

.footer-social {
  margin-top: var(--spacing-sm);
  display: flex;
  gap: var(--spacing-md);
}
ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
    text-align: center;
  }

  li {
    margin: 0;
  }

  .footer-col {
    display: flex;
    flex-direction: column;
  }

  .footer-grid > .footer-col:nth-child(1) {
    order: 3;
  }
  .footer-grid > .footer-col.footer-menu {
    order: 1;
  }
  .footer-grid > .footer-col.footer-contact {
    order: 2;
  }

  .footer-col .footer-copyright {
    margin-top: auto;
  }
}
