<section class="receive-donation-section">
  <div class="container">
    <aside class="receive-donation-image-wrapper">
      <img
      class="receive-donation-image"
      src="/assets/about-side.jpg"
      alt="Notebook e outros dispositivos eletrônicos retirados da caixa"
      />
    </aside>
    <div class="receive-donation-content">
      <header class="receive-donation-header">
        <span class="caption receive-donation-tagline">REUTILIZAÇÃO DE EQUIPAMENTOS</span>
      </header>
      <div class="receive-donation-description">
        <p>
          A reutilização de dispositivos eletrônicos é fundamental para um futuro sustentável. Em vez de descartar equipamentos em desuso, incentivamos a recuperação e o reaproveitamento, beneficiando tanto quem doa quanto quem recebe.
        </p>
        <p>
          Ao escolher reutilizar, você ajuda a prolongar a vida útil dos dispositivos, evitando que se tornem lixo eletrônico e contribuindo para a preservação do meio ambiente.
        </p>
        <p>
          Nossa iniciativa conecta doadores a instituições e pessoas que precisam de tecnologia para se inserir no mundo digital. Vamos trabalhar juntos para criar um ciclo virtuoso de uso consciente e responsável dos recursos que temos.
        </p>
      </div>
      <a routerLink="/auth"><button class="btn btn-secondary receive-donation-button">PREENCHA PARA RECEBER UMA DOAÇÃO</button></a>
    </div>

  </div>
</section>
