<section class="make-donation-section">
  <div class="container">
    <aside class="make-donation-image-wrapper">
      <img
      class="make-donation-image"
      src="/assets/about-side.jpg"
      alt="Notebook e outros dispositivos eletrônicos retirados da caixa"
      />
    </aside>
    <div class="make-donation-content">
      <header class="make-donation-header">
        <span class="caption make-donation-tagline">DOAÇÃO DE EQUIPAMENTOS</span>
      </header>
      <div class="make-donation-description">
        <p>
          A doação de equipamentos eletrônicos é uma oportunidade única de transformar vidas.
        </p>
        <p>
          Ao doar computadores, celulares, impressoras ou tablets que não utiliza mais, você ajuda a proporcionar acesso à tecnologia para aqueles que mais precisam. Esse gesto não apenas promove a inclusão digital, mas também fortalece a economia circular, reduzindo o lixo eletrônico.
        </p>
        <p>
          Cada dispositivo doado pode se tornar uma ferramenta poderosa de aprendizagem e desenvolvimento para instituições e indivíduos em situação de vulnerabilidade. Junte-se a nós e faça a diferença, contribuindo para um futuro mais conectado e justo para todos.
        </p>
      </div>
      <a routerLink="/auth"><button class="btn btn-secondary receive-donation-button">PREENCHA PARA RECEBER UMA DOAÇÃO</button></a>
    </div>

  </div>
</section>
